body {
  margin: 0;
  padding: 0em 1em;
  font-family: sans-serif;
  background: #133b43;
  color: white;
  text-align: center;
}

p {
  max-width: 80%;
  margin: 10px auto;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-drag: element;
  user-drag: element;
}

.game {
  position: absolute;
  top: 0;
  left: 1em;
  border-right: 1px solid grey;
  width: 49%;
}

.tiles {
  position: absolute;
  top: 0;
  right: 1em;
  width: 49%;
}

.red .hexagon{
  fill: Red !important;
}
.blue .hexagon{
  fill: Blue !important;
}
.green .hexagon{
  fill: Green !important;
}
.orange .hexagon{
  fill: Orange !important;
}
.yellow .hexagon{
  fill: Yellow !important;
}
.purple .hexagon{
  fill: Purple !important;
}
.fixed{
  fill-opacity: 1;
}
.possible{
  fill-opacity: 0.4;
}

svg .tile g polygon {
  stroke: #7be3f6;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}